<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./static/CSS/style.css">
        <title>HANGMAN</title>
    </head>

    <body>
        <h1>{{.Title}}</h1>
        <p> {{.MotBase}}</p>
        <p> {{.Mot}}</p>

        <form>
            <input type="text" id="letter" name="wordletter"
                   placeholder="Entrez une lettre ou un mot" required
                   minlength="1" maxlength={{.LengthWord}}>
            <br>
            <br>
            <button value="submit"> Envoyer </button>
        </form>

    </body>

</html>