<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>P.H.A</title>
        <link rel="stylesheet" type="text/css" href="http://localhost:8080/static/CSS/style_hangman.css">
    </head>

    <body>
        <p class="h1 neon">{{index .Set.CurrentLanguage 6}} {{.Set.Name}} </p>
        <p class="neon2"> {{index .Set.CurrentLanguage 7}} {{.Hangman.Attempts}} {{index .Set.CurrentLanguage 8}}</p>
        <p class="neon2">
            {{range .Hangman.WordUser}}
            {{.}}
            {{end}}
        </p>

        <form method="post">
            <input type="text" name="Word-letter" placeholder="{{index .Set.CurrentLanguage 9}}" maxlength="16" autofocus>
            <input type="submit" value="{{index .Set.CurrentLanguage 10}}" />
            <p class="neon2">
                {{index .Set.CurrentLanguage 11}} <br><br>
                {{range .Hangman.ToFind}}
                    {{.}}
                {{end}}
            </p>
        </form>

        <img src="http://localhost:8080/static/pictures/jose{{.Hangman.Attempts}}.gif" width="1200px" height="200px" alt="position of pacman">

        <div class="bottom">
            <form method="post" class="content">
                <button value="submit" name="back" class="neon"> {{index .Set.CurrentLanguage 16}} </button>
                <button value="submit" name="rules" class="neon"> {{index .Set.CurrentLanguage 18}} </button>
                {{if .Hangman.ClueNbr}}
                    <button name="clue" value="submit" class="neon">{{index .Set.CurrentLanguage 20}}</button>
                {{else}}
                    <button name="clue" value="submit" class="neon3">{{index .Set.CurrentLanguage 20}}</button>
                {{end}}
            </form>
        </div>
    </body>
</html>