<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>N.S.H.W</title>
        <link rel="stylesheet" type="text/css" href="./static/CSS/style.css">
    </head>

    <body>
        <h1>{{index .Set.Langue 6}} {{.Hangman.Word}}</h1>
        <p> {{index .Set.Langue 7}} {{.Hangman.Attempts}} {{index .Set.Langue 8}}</p>
        <p>
            {{range .Hangman.WordUser}}
            {{.}}
            {{end}}
        </p>

        <form method="post" action="/">
            <input type="text" name="wordletter" placeholder="{{index .Set.Langue 9}}">
            <input type="submit" value="{{index .Set.Langue 10}}" />
            <p>{{index .Set.Langue 11}} <br>
                {{range .Hangman.ToFind}}
                {{.}}
                {{end}}
            </p>
        </form>

        <div class="content">
            <img src={{.Hangman.Position}} alt="testeu" width="300px" height="300px">
        </div>

        <form method="post">
            <button value="submit" name="reset">{{index .Set.Langue 12}} </button>
        </form>
    </body>
</html>