body {
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
    height: 100vh;
    min-height: 50vh;
}

h1 {
    text-align: center;
    font-family: "Super Mario 256";
    font-size: 3vw;
    margin-bottom: 6vh;
    color: #0c4e57;
}

label {
    margin-bottom: 5vh;
    margin-bottom: 10vh;
    font-family: "Super Mario 256";
    font-size: 2vw;
    color: #ffffff;
}

button {
    font-family: "Super Mario 256";
    border-radius: 20px;
    width: 15vw;
    height: 7vh;
    font-size: 2vw;
    color: #ffffff;
    background-color: #0c4e57;
    transition: all 300ms;
}

button:hover {
    transform: scale(0.8);
}

input[type=radio] {
    width: 5%;
    height: 2vw;
}

input[type=checkbox] {
    width: 5%;
    height: 2vw;
}

.content {
    text-align: center;
    margin-bottom: 5vh;
}

.img_line_begin {
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vw;
    background-image: url("http://localhost:8080/static/Pictures/brick.jpg");
    background-repeat: repeat-x;
    background-size: 4vw;
    filter: hue-rotate(170deg);
}

.img_line_end {
    position: absolute;
    bottom: 0px;
    height: 5vw;
    width: 100%;
    background-image: url("http://localhost:8080/static/Pictures/brick.jpg");
    transform: rotate(180deg);
    background-repeat: repeat-x;
    background-size: 4vw;
    filter: hue-rotate(170deg);
}