body {
    background-color: black;
    margin: 0;
    text-align: center;
}

.h1   {
    margin: 0;
    font-family: pacman,serif;
    font-size:4vw;
}

.right {
    float: right;
    margin: 30px;
}

.left {
    float: left;
    margin: 30px;
    width: 8vw;
}

.bottom {
    text-align: center;
    margin: 0;
    position: absolute;
    width: 98%;
    bottom: 0;
}

.neon {
    color: #fff;
    text-shadow:  0 0 7px #d52525,
    0 0 10px #fff,
    0 0 42px rgb(230, 18, 124),
    0 0 77px rgb(230, 18, 124),
    0 0 100px rgb(230, 18, 124)
}

.neon2 {
    color: #fff;
    text-shadow:  0 0 7px #d59d25,
    0 0 10px #fff,
    0 0 42px rgb(230, 138, 18),
    0 0 77px rgb(230, 170, 18),
    0 0 100px rgb(230, 170, 18)
}

img {
    width: 15vw;
}

p    {
    font-family: pixel,serif;
    color: #ffffff;
    text-align:center;
    font-size: 2vw;
}

form {
    font-size:50px;
}

button {
    margin: 50px 50px 0 50px;
    font-family: pixel,serif;
    font-size: 3vw;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
}

button:hover {
    transform: scale(1.3);
}

input {
    font-family: pixel,serif;
}

input[type=submit] {
    border-radius: 30px;
    text-align:center;
    width: 8vw;
    height: 4vh;
}
input[type=text] {
    width: 30vw;
    height: 4vh;
    border-radius: 30px;
    font-family: pixel,serif;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.neon3 {
    color: #fff;
    text-shadow:  0 0 7px #cbc7c7,
    0 0 1px #fff,
    0 0 42px rgb(196, 186, 190),
    0 0 77px rgb(168, 165, 164),
    0 0 100px rgb(145, 139, 141)
}


@font-face {
    font-family: 'pixel';
    src: url('http://localhost:8080/static/fonts/04B_30__.TTF') format('truetype');
}

@font-face {
    font-family: 'pacman';
    src: url('http://localhost:8080/static/fonts/Pacmania.otf') format('truetype');
}