body {
    margin: 0px;
    background-color: #ff8800;
}
h1 {
    margin: 0px;
    font-size: 10vw;
    font-family: SuperMario256;
    text-align: center;
}
button {
    margin: 30px;
    font-size: 2vw;
    font-family: SuperMario256;
    width: 20vw;
    height: 10vh;
    border-radius: 30px;
    color: #ffffff;
    background-color: #de5912;
    transition: all 300ms;
}
button:hover {
    transform: scale(0.8);
}
img {
    width: 15vw;
    margin-right: 8vw;
    margin-left: 8vw;
}
.content {
    display: flex;
    justify-content: center;
    margin-top: 14vh;
}
.mario {
    animation: but 1.5s infinite;
}
@keyframes but {
    0%,50%,100% {
        transform: translateY(50px);
    }
    20%,80% {
        transform: translateY(-50px);
    }
}
@font-face {
    font-family: 'SuperMario256';
    src: url('http://localhost:8080/static/fonts/SuperMario256.ttf') format('truetype');
}