body {
    margin: 0;
    text-align: center;
    background: black;
}

a {
    text-decoration:none;
}

button {
    text-align: center;
    border: none;
    outline: none;
    font-size: 8vw;
    background-color: rgba(0,0,0,0);
    font-family: pix,serif;
}

button:hover {
    transform: scale(1.3);
}

form {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    margin: auto;
}

.h1 {
    margin: 2vw;
    font-size: 14vw;
    font-family: pacman,serif;
    color: yellow;
    animation: flicker 3s infinite;
}

.error {
    margin: 0;
    font-size: 50px;
    font-family: pacman,serif;
}

.center {
    width: 100%;
    position: absolute;
    margin-top: 20vh;
}
.neon {
    margin: 0;
    color: #fff;
    text-shadow:  0 0 1px #d57425,
    0 0 10px rgba(255, 255, 255, 0.25),
    0 0 40px rgb(230, 219, 18),
    0 0 70px rgb(230, 163, 18),
    0 0 10px rgb(230, 181, 18)
}

.neon3 {
    margin: 0;
    color: #fff;
    text-shadow:  0 0 1px #2548d5,
    0 0 10px rgba(255, 255, 255, 0.25),
    0 0 40px rgb(18, 67, 230),
    0 0 70px rgb(18, 78, 230),
    0 0 10px rgb(18, 60, 230)
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:  0 0 1px #d57425,
        0 0 10px rgba(255, 255, 255, 0.25),
        0 0 40px rgb(230, 219, 18),
        0 0 70px rgb(230, 163, 18),
        0 0 10px rgb(230, 181, 18)
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

@font-face {
    font-family: 'pacman';
    src: url('http://localhost:8080/static/fonts/Pacmania.otf') format('truetype');
}

@font-face {
    font-family: 'pix';
    src: url('http://localhost:8080/static/fonts/04B_30__.TTF') format('truetype');
}