body {
    background-image: url("../pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    margin: 0;
}

h1   {
    font-family: SuperMario256;
    color: #ffffff;
    font-size:4vw;
    text-align:center;
    margin: auto 15px;
}
p    {
    font-family: SuperMario256;
    color: #ffffff;
    text-align:center;
    font-size: 2vw;
}
.content {
    display: flex;
    justify-content: space-evenly;
}
form {
    font-size:50px;
    text-align: center;
}
input {
    font-family: SuperMario256;
}
input[type=submit] {
    border-radius: 30px;
    text-align:center;
    width: 8vw;
    height: 4vh;
}
input[type=text] {
    width: 30vw;
    height: 4vh;
    border-radius: 30px;
    font-family: SuperMario256;
}
.content {
    text-align:center
}
@font-face {
    font-family: 'SuperMario256';
    src: url('http://localhost:8080/static/fonts/SuperMario256.ttf') format('truetype');
}