<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HANGMAN</title>
    </head>

    <style>
        body {background: darkmagenta; padding: 0; margin: 0}
        h1   {color: blue;font-size:105px; text-align:center}
        p    {color: red;font-size:100px; text-align:center}
    </style>

    <body>
        <h1>{{.Title}}</h1>
        <p> {{.MotBase}}</p>
        <p> {{.Mot}}</p>

        <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10">
        <button type="button">Click Me!</button>
        <form action="/save" method="post"> ... </form>

    </body>

</html>