<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hangman</title>
</head>

<body>
<div class="header">
    <p>J'existe</p>
    <p>{{.Word}}</p>
</div>
<div><h1>{{.Title}} </h1></div>
<div><h2> {{.WordUser}}</h2></div>
<div><p>You have <span style="margin-inline: 5px"> {{.Attempts}} </span> attempts left</p></div>
<form>
    <input class="mot_rentré" type="text" id="letter" name="wordletter" autocomplete="off"
           placeholder="Entrez une lettre ou un mot" required
           minlength="1" maxlength={{.LengthWord}}>
    <br>
    <br>
    <div class="Buttons"> <button class="submit" value="submit"> Envoyer </button>
    <button class="reset" value="reset"> Reset ? </button></div>
</form>
</body>
</html>